<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <!--<include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />-->
    <include path="~/vendor/bootstrap/css/bootstrap.min.css" />
    <include path="~/vendor/font-awesome/css/font-awesome.min.css" />
    <include path="~/vendor/animate/animate.min.css" />
    <include path="~/vendor/simple-line-icons/css/simple-line-icons.min.css" />
    <include path="~/vendor/owl.carousel/assets/owl.carousel.min.css" />
    <include path="~/vendor/owl.carousel/assets/owl.theme.default.min.css" />
    <include path="~/vendor/magnific-popup/magnific-popup.min.css" />

    <include path="~/Content/theme.css" />
    <include path="~/Content/theme-elements.css" />
    <include path="~/Content/theme-blog.css" />
    <include path="~/Content/theme-shop.css" />
    <include path="~/Content/default.css" />
    <include path="~/Content/custom.css" />
    
    <!-- homepage styles -->
    
    <!--<include path="~/vendor/rs-plugin/css/settings.css" />
    <include path="~/vendor/rs-plugin/css/layers.css" />
    <include path="~/vendor/rs-plugin/css/navigation.css" />
    <include path="~/vendor/circle-flip-slideshow/css/component.css" />-->
  </styleBundle>
</bundles>



